body {
    font-family: 'Arvo', serif;
    font-weight: 400;
    scroll-behavior: smooth;
    background: linear-gradient(0deg, #84375F 0%, #510406 85%);
    margin: 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 600px;
    padding: 40px;
    background: none;
    border-radius: 10px;
    position: relative;
}
.right-icon {
    position: absolute;
    top: 25px;
    right: 55px;
    background-color: transparent; 
    border: none; 
    padding: 3px; 
    border-radius: 50%;
    background-color: #3F0E0F;
    z-index: 10;
    cursor: pointer;
}
.right-icon img {
    width: 17px;
    height: 17px;
    filter: invert(1);
}
.more-icon img {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
}
.video-wrapper {
    position: relative;
    padding-top: 56.25%;
    height: 0;
    overflow: hidden;
    transition: transform 0.3s;
    border-radius: 20px;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.button-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8px;
    text-decoration: none;
    color: #333;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.button-item:hover {
    transform: scale(1.025);
    text-decoration: none;
    color: #333;
}
.icon, .text, .more-icon {
    margin: 0 5px;
}
.icon {
    font-size: 1.5rem;
}
.custom-btn {
    background-color: #E0CCD5;
    border-radius: 25px; 
    padding: 3px 12px; 
    font-size: 0.8rem;
}
.custom-icon {
    width: 15px; 
    height: 15px; 
    vertical-align: middle;
}
.custom-btn:hover {
    background-color: #fff;
}
.footer-text {
    font-weight: 600;
}
.text {
    flex-grow: 1;
    text-align: center;
}
.more-icon {
    font-size: 1.3rem;
}
.video-wrapper:hover {
    transform: scale(1.025);
}
@media (max-width: 576px) {
    .button-item {
        font-size: 0.9rem;
    }
    .icon, .more-icon {
        font-size: 1.2rem; 
    }
}